<div class="top_header">
  <div class="container">
    <div class="d-flex align-items-center justify-content-between py-2">
      <a href="">MBM</a>
      <div class="dropdown username">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="user_profile">
            <div class="user_profile_dp">{{profileUserName}}</div>
            <span>{{currentUserName}}</span>
            <span class="down_chevron"></span>
          </div>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" (click)="goToProfile()">My Profile</a></li>
          <li><a class="dropdown-item" routerLink="/login" (click)="logout()">logout</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg bg-body-tertiary bg_navbar_clr">
  <div class="container">
    <!-- <a class="navbar-brand" href="#"></a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex justify-content-between w-100">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="/student" routerLinkActive="active">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teacher" routerLinkActive="active">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="/teacherregistration" routerLinkActive="active">Teacher Registration</a>
          </li> -->
        </ul>
      </div>
    </div>
  </div>
</nav>