.error_text{
    padding-top: 8px;
    font-size: 12px;
}
table{
    background-color: var(--color-white);
}
.filter_row label{
    font-size: var(--f-14);
    color: var(--color-black);
}
.filter_row select{
    font-size: var(--f-14);
    color: var(--color-black);
}
.filter_row button{
    font-size: var(--f-14);
}