.form-select:focus {
    box-shadow: none;
}

.name_sort {
    border: none;
    background-color: none;
}

table {
    background-color: var(--color-white);
}

.stu_header {
    font-size: var(--f-22);
    font-weight: var(--fw-600);
}
