<main>
    <section>
        <div class="container pt-4">
            <h4 class="mb-4">Welcome, <span class="current_user_name">{{currentUserName}}</span></h4>
            <div class="content_container_row">
                <div class="content_container_col">
                    <div class="content_container_box">
                       <p>Teacher's Count</p>
                       <span>{{getTeacherListCount}}</span>
                    </div>
                </div>
                <div class="content_container_col">
                    <div class="content_container_box">
                        <p>Student's Count</p>
                        <span>{{getStudentListCount}}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>